<p-sidebar #sideBarRef [(visible)]="visibleSideBarCarrito" position="right">
  <ng-template pTemplate="headless">
    <main
      class="h-full bg-appPrimary-950 overflow-auto flex flex-col justify-between"
    >
      <header class="bg-appPrimary-800 flex justify-between items-center pr-4">
        <h1 class="text-appPrimary-50 font-bold text-2xl p-3">Carrito</h1>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-shopping-cart size-8"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M17 17h-11v-14h-2" />
          <path d="M6 5l14 1l-1 7h-13" />
        </svg>
      </header>
      <section class="flex flex-col mt-3 px-3 gap-3 max-h-[95%] overflow-auto">
        @for (productoCarrito of productosCarrito; track $index) {
        <app-card-producto-carrito
          (clickRemoveFromCart)="removeProductoFromCarrito(productoCarrito)"
          [productoCarrito]="productoCarrito"
        ></app-card-producto-carrito>
        } @empty {
        <p class="text-appPrimary-200 text-center">
          No hay productos en el carrito
        </p>
        }
      </section>
      <footer class="flex flex-col bg-appPrimary-800 p-3 gap-3">
        <div class="flex justify-between items-center">
          <h1 class="text-appPrimary-50 font-bold text-2xl">Total</h1>
          <h1 class="text-appPrimary-50 font-bold text-2xl">
            {{ getTotalCarrito() }}
          </h1>
        </div>
        <button
          (click)="handleClickCheckout()"
          class="bg-appPrimary-500 text-appPrimary-200 font-bold px-3 py-1 rounded-lg hover:bg-appPrimary-400 hover:text-appPrimary-800 transition-all duration-300 ease-in-out outline-none w-full flex justify-center items-center gap-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-credit-card"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="3" y="5" width="18" height="14" rx="3" />
            <line x1="3" y1="10" x2="21" y2="10" />
            <line x1="7" y1="15" x2="7.01" y2="15" />
            <line x1="11" y1="15" x2="13" y2="15" />
          </svg>
          <span>Facturar</span>
        </button>
      </footer>
    </main>
  </ng-template>
</p-sidebar>

<app-header colorClass="green"> Ventas </app-header>
<main class="p-5">
  <header class="flex justify-between items-center gap-5">
    <h1>Tienda: Galope <small> (La Quezada) </small></h1>
    <input
      type="text"
      [(ngModel)]="searchInput"
      (ngModelChange)="searchProductos()"
      class="bg-appPrimary-700 text-appPrimary-200 focus:bg-appPrimary-500 focus:text-white focus:ring-2 focus:ring-appPrimary-100 hover:bg-appPrimary-600 font-semibold p-2 rounded-lg outline-none transition-all duration-300 ease-in-out w-full"
      placeholder="Buscar producto"
    />
    <!-- ! Carrito -->
    <button
      (click)="visibleSideBarCarrito = !visibleSideBarCarrito"
      class="bg-appPrimary-500 rounded-full flex justify-center items-center p-2 size-12 w-14 relative outline-none hover:bg-appPrimary-400 transition-all duration-300 ease-in-out active:scale-95"
    >
      <!-- Badge de Cantidad -->
      @if (productosCarrito.length > 0) {
      <span
        class="absolute -top-2 -end-2 bg-appPrimary-300 text-appPrimary-700 font-bold rounded-full px-2 py-1 text-xs"
      >
        {{ productosCarrito.length }}
      </span>
      }
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-shopping-cart size-6"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 17h-11v-14h-2" />
        <path d="M6 5l14 1l-1 7h-13" />
      </svg>
    </button>
  </header>
  <section class="grid p-2 grid-cols-12 mt-3 max-md:grid-cols-1">
    <!-- ! NavBar Familias -->
    <div class="col-start-1 col-end-3 max-md:col-start-1 max-md:col-end-1">
      <header>
        <h1 class="text-appPrimary-200 font-bold text-2xl">Familias</h1>
      </header>
      <ul class="mt-3 gap-3 w-full">
        @for (familia of productosView; track $index) {
        <li
          (click)="selectView(familia)"
          class="w-full  p-2 rounded-lg font-bold mb-2 hover:bg-appPrimary-500 transition-all duration-300 ease-in-out cursor-pointer {{
            viewSeleccionada?.familia === familia.familia
              ? 'text-appPrimary-700 bg-appPrimary-300'
              : 'text-appPrimary-200 bg-appPrimary-700'
          }}"
        >
          {{ familia.familia }}
        </li>
        }
      </ul>
    </div>
    <div
      class="col-start-4 col-end-12 max-md:col-start-1 max-md:col-end-1 flex flex-col gap-5"
    >
      <!-- ! Categorías -->
      @for (categoria of viewSeleccionada?.categorias ?? []; track $index) {
      <!-- ! Validación -->
      @if (categoria.productos.length > 0) {
      <article class="flex flex-col gap-3">
        <header>
          <h1 class="text-appPrimary-100 font-semibold text-xl">
            {{ categoria.categoria }}
          </h1>
          <small>
            <strong>Incluye:</strong> {{ categoria.listaSubclases.join(", ") }}
          </small>
        </header>
        <!-- ! Lista de Productos -->
        <section
          class="grid grid-flow-row grid-cols-[repeat(auto-fill,minmax(200px,1fr))] grid-rows-auto gap-4"
        >
          @for (producto of categoria.productos; track $index) {
          <app-card-producto
            (clickAddToCart)="addProductoToCarrito(producto)"
            [producto]="producto"
          ></app-card-producto>
          }
        </section>
      </article>
      } }
    </div>
  </section>
</main>

<p-dialog [(visible)]="visibleModalFacturar" [modal]="true">
  <ng-template pTemplate="headless">
    <main class="bg-appPrimary-900 p-3 rounded-lg">
      <header class="flex justify-between items-center gap-3">
        <h1 class="text-lg font-bold text-appPrimary-200">Facturar</h1>
        <button
          (click)="visibleModalFacturar = !visibleModalFacturar"
          class="rounded-full border p-1 hover:bg-red-500 hover:border-red-200 transition-all duration-300 ease-in-out focus:outline-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 icon icon-tabler icon-tabler-x"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </button>
      </header>
      <section class="mt-3 flex gap-4">
        <div class="flex flex-col gap-3 w-1/2">
          <header>
            <h1 class="text-appPrimary-200 font-bold text-lg">Cliente</h1>
            <small>
              Buscar por DNI, en caso de no encontrarlo, se deberá crear uno
              nuevo
            </small>
          </header>
          <div class="flex flex-col gap-2">
            <p-inputMask
              mask="9999-9999-99999"
              [(ngModel)]="inputSearchCliente"
              (ngModelChange)="searchCliente()"
              styleClass="bg-appPrimary-800 text-appPrimary-200 p-2 rounded-lg outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-300 ease-in-out w-full"
              placeholder="0000-0000-00000"
            >
            </p-inputMask>

            @if (inputsClienteDisabled) {
            <input
              type="text"
              class="bg-appPrimary-800 text-appPrimary-200 p-2 rounded-lg outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-300 ease-in-out disabled:opacity-25 disabled:bg-appPrimary-800 disabled:text-appPrimary-100"
              placeholder="Nombre Completo"
              [disabled]="true"
              [value]="clienteEncontrado?.nombreCompleto"
            />
            <p-inputMask
              mask="+504 9999-9999"
              [ngModel]="clienteEncontrado?.telefono"
              [disabled]="true"
              styleClass="bg-appPrimary-800 text-appPrimary-200 p-2 rounded-lg outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-300 ease-in-out w-full"
              placeholder="+504 9999-9999"
            >
            </p-inputMask>
            } @else {
            <small>
              No se encontró el cliente, por favor, ingrese los datos
            </small>
            @if (inputSearchCliente.length === 15) {
            <input
              type="text"
              class="bg-appPrimary-800 text-appPrimary-200 p-2 rounded-lg outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-300 ease-in-out"
              placeholder="Nombre Completo"
              [(ngModel)]="nuevoCliente.nombreCompleto"
            />
            <p-inputMask
              mask="+504 9999-9999"
              [(ngModel)]="nuevoCliente.telefono"
              styleClass="bg-appPrimary-800 text-appPrimary-200 p-2 rounded-lg outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-300 ease-in-out w-full"
              placeholder="+504 9999-9999"
            >
            </p-inputMask>
            } }
          </div>
          <div>
            <button
              (click)="facturar()"
              class="bg-appPrimary-500 text-appPrimary-200 font-bold px-3 py-1 rounded-lg hover:bg-appPrimary-400 hover:text-appPrimary-800 transition-all duration-300 ease-in-out outline-none w-full flex justify-center items-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-credit-card"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <rect x="3" y="5" width="18" height="14" rx="3" />
                <line x1="3" y1="10" x2="21" y2="10" />
                <line x1="7" y1="15" x2="7.01" y2="15" />
                <line x1="11" y1="15" x2="13" y2="15" />
              </svg>
              <span>Facturar</span>
            </button>
          </div>
        </div>
        <div class="flex flex-col gap-3 w-1/2">
          <header>
            <h1 class="text-appPrimary-200 font-bold text-lg">Productos</h1>
          </header>
          <section class="flex flex-col gap-3 max-h-[75vh] overflow-auto">
            @for (productoCarrito of productosCarrito; track $index) {
            <app-card-producto-carrito
              [productoCarrito]="productoCarrito"
            ></app-card-producto-carrito>
            } @empty {
            <p class="text-appPrimary-200 text-center">
              No hay productos en el carrito
            </p>
            }
          </section>
        </div>
      </section>
    </main>
  </ng-template>
</p-dialog>
