<app-header colorClass="purple"> Mercadeo </app-header>
<main class="text-appPrimary-50 p-5">
  <div class="w-full grid grid-cols-12 gap-3">
    <section class="flex flex-col col-start-1 col-end-4">
      <header>
        <h1 class="text-xl font-bold text-appPrimary-200">
          ¡Bienvenido al módulo de Mercadeo!
        </h1>
        <small>Busca un producto para poder configurar</small>
      </header>
      <div class="mt-3 w-full flex flex-col gap-3">
        <!-- Código de Producto -->
        <div>
          <label for="codigo"> Código de Producto</label>
          <p-inputMask
            mask="99-99-99-9999"
            [(ngModel)]="codigoProductoBuscado"
            (ngModelChange)="searchProducto()"
            styleClass="bg-gray-700 w-full rounded-lg p-2 border border-gray-300 outline-none hover:ring-2 hover:ring-appPrimary-400 focus:ring-2 focus:ring-appPrimary-300 transition-all duration-300 ease-in-out"
            placeholder="01-02-01-0001"
          >
          </p-inputMask>
          <small class="text-xsm text-appPrimary-300">
            Presione
            <kbd
              class="px-2 py-1 text-xs text-center items-center font-semibold rounded-lg bg-gray-600 text-gray-100 border-gray-500 mr-1"
            >
              F2
            </kbd>
            para buscar un producto
          </small>
        </div>
        @if (newProducto) {
        <!-- Imagen del Producto -->
        <div
          class="w-full rounded-lg flex justify-center items-center flex-col gap-3"
        >
          <img
            src="https://via.placeholder.com/500"
            alt="Producto"
            class="rounded-lg w-full object-cover h-52"
          />
          <button
            class="flex justify-center gap-3 border w-full py-2 px-2 rounded-lg hover:bg-white hover:text-appPrimary-700 transition-all duration-300 ease-in-out focus:outline-none"
          >
            Actualizar Imagen
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-cloud-upload"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"
              />
              <path d="M9 15l3 -3l3 3" />
              <path d="M12 12l0 9" />
            </svg>
          </button>
        </div>
        }
      </div>
    </section>
    <section class="w-full col-start-4 col-end-13 flex flex-col gap-3">
      <header class="text-lg text-appPrimary-200">
        Información del Producto
      </header>
      @if (!newProducto) {
      <h3 class="text-red-300">
        No se ha seleccionado un producto, por favor ingresa un código de
        producto
      </h3>
      } @else {
      <main class="w-full grid box-content grid-cols-2 p-2 gap-3">
        <fieldset class="flex flex-col gap-2">
          <legend>Datos básicos</legend>
          <div class="flex flex-col w-full mt-1 gap-2">
            <!-- ! Descripción -->
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Descripción
              </label>
              <textarea
                type="text"
                id="input-group-1"
                [(ngModel)]="newProducto.descripcion"
                class="w-full resize-none h-20 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out"
                placeholder="Sin descripción"
              ></textarea>
            </span>
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Familia
              </label>
              <input
                type="text"
                id="input-group-1"
                [disabled]="true"
                [value]="
                  newProducto.subclase.categoria.familia.codigoFamilia +
                  ' - ' +
                  newProducto.subclase.categoria.familia.descripcion
                "
                class="bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
                placeholder="Sin subclase"
              />
            </span>
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Categoría
              </label>
              <input
                type="text"
                id="input-group-1"
                [disabled]="true"
                [value]="
                  newProducto.subclase.categoria.codigoCategoria +
                  ' - ' +
                  newProducto.subclase.categoria.descripcion
                "
                class="bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
                placeholder="Sin subclase"
              />
            </span>
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Subclase
              </label>
              <input
                type="text"
                id="input-group-1"
                [disabled]="true"
                [value]="
                  newProducto.subclase.codigoSubclase +
                  ' - ' +
                  newProducto.subclase.descripcion
                "
                class="bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
                placeholder="Sin subclase"
              />
            </span>
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Marca
              </label>
              <p-dropdown
                [options]="marcas"
                [(ngModel)]="newProducto.marca"
                placeholder="Seleccionar marca"
                emptyMessage="No hay marcas disponibles"
                appendTo="body"
                [filter]="true"
                styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
                optionLabel="descripcion"
              ></p-dropdown>
            </span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Lista de precios</legend>
          <div class="flex flex-col gap-3 mt-1">
            <span class="w-full flex justify-between items-center">
              <span class="block mb-2 text-sm font-medium text-appPrimary-200">
                Precios por Unidad
              </span>
              <button
                (click)="opNuevoPrecio.toggle($event)"
                class="bg-appPrimary-400 p-1 rounded-xl"
                pTooltip="Agregar nuevo precio"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-basket-dollar"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M17 10l-2 -6" />
                  <path d="M7 10l2 -6" />
                  <path
                    d="M13 20h-5.756a3 3 0 0 1 -2.965 -2.544l-1.255 -7.152a2 2 0 0 1 1.977 -2.304h13.999a2 2 0 0 1 1.977 2.304"
                  />
                  <path d="M10 14a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path
                    d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
                  />
                  <path d="M19 21v1m0 -8v1" />
                </svg>
              </button>
            </span>
            <!-- ! Tabla de Precios -->
            <span>
              <table class="w-full text-sm bg-appPrimary-700 rounded-2xl">
                <thead>
                  <tr class="*:px-6 *:py-3 rounded-t-2xl">
                    <th class="font-bold text-left">Tipo</th>
                    <th class="font-bold text-left">Precio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (precio of newProducto.precios; track $index) {
                  <tr class="*:px-6 *:py-3">
                    <td>{{ precio.tipoUnidad.descripcion }}</td>
                    <td>
                      <div class="relative w-full">
                        <div
                          class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-5 text-appPrimary-200"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"
                            />
                            <path d="M12 3v3m0 12v3" />
                          </svg>
                        </div>
                        <input
                          type="number"
                          step="0.01"
                          [(ngModel)]="precio.precio"
                          class="bg-appPrimary-80 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg block w-full ps-10 p-2.5 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out"
                          placeholder="0"
                        />
                      </div>
                    </td>
                    <td>
                      <span class="flex gap-2 items-center justify-center">
                        <button
                          class="bg-appPrimary-400 p-1 rounded-xl"
                          pTooltip="Guardar"
                          tooltipPosition="bottom"
                          (click)="
                            setPrecioProducto(precio.tipoUnidad, precio.precio)
                          "
                          tooltipStyleClass="*:bg-appPrimary-500 *:text-appPrimary-100"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-device-floppy"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"
                            />
                            <path
                              d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"
                            />
                            <path d="M14 4l0 4l-6 0l0 -4" />
                          </svg>
                        </button>
                        <button
                          class="bg-red-600 p-1 rounded-xl"
                          (click)="deletePrecio(precio.id)"
                          pTooltip="Eliminar"
                          tooltipPosition="top"
                          tooltipStyleClass="*:bg-red-900 *:text-appPrimary-100"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-http-delete"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M3 8v8h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-2z"
                            />
                            <path d="M14 8h-4v8h4" />
                            <path d="M10 12h2.5" />
                            <path d="M17 8v8h4" />
                          </svg>
                        </button>
                      </span>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </span>
          </div>
        </fieldset>
      </main>
      }
    </section>
  </div>
</main>

<p-overlayPanel #opNuevoPrecio>
  <ng-template pTemplate="content">
    <main class="flex flex-col">
      <small> Seleccione el tipo de unidad</small>
      <div class="flex flex-col gap-3">
        <p-dropdown
          [options]="tipoUnidades"
          [(ngModel)]="nuevoPrecio.tipoUnidad"
          placeholder="Seleccionar"
          emptyMessage="No hay tipos de unidad disponibles"
          appendTo="body"
          styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
          optionLabel="descripcion"
        ></p-dropdown>
        <div class="relative w-full">
          <div
            class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-5 text-appPrimary-200"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"
              />
              <path d="M12 3v3m0 12v3" />
            </svg>
          </div>
          <input
            type="number"
            [step]="nuevoPrecio.tipoUnidad?.permiteDecimales ? '0.01' : '1'"
            [(ngModel)]="nuevoPrecio.precio"
            class="bg-appPrimary-80 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg block w-full ps-10 p-2.5 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out"
            placeholder="0"
          />
        </div>

        <button
          (click)="nuevoPrecioProducto()"
          class="bg-appPrimary-400 p-1 rounded-xl flex gap-3 justify-center"
        >
          Agregar
        </button>
      </div>
    </main>
  </ng-template>
</p-overlayPanel>
