<app-header colorClass="purple"> Mercadeo </app-header>
<main class="text-appPrimary-50 p-5">
  <div class="w-full grid grid-cols-12 gap-3">
    <section class="flex flex-col col-start-1 col-end-4">
      <header>
        <h1 class="text-xl font-bold text-appPrimary-200">
          ¡Bienvenido al módulo de Mercadeo!
        </h1>
        <small>Busca un producto para poder configurar</small>
      </header>
      <div class="mt-3 w-full flex flex-col gap-3">
        <!-- Código de Producto -->
        <div>
          <label for="codigo"> Código de Producto</label>
          <p-inputMask
            mask="99-99-99-9999"
            [(ngModel)]="codigoProductoBuscado"
            (ngModelChange)="searchProducto()"
            styleClass="bg-gray-700 w-full rounded-lg p-2 border border-gray-300 outline-none hover:ring-2 hover:ring-appPrimary-400 focus:ring-2 focus:ring-appPrimary-300 transition-all duration-300 ease-in-out"
            placeholder="01-02-01-0001"
          >
          </p-inputMask>
          <span class="mt-2 flex gap-3">
            <small class="text-xsm text-blue-300">
              <kbd
                class="px-2 py-1 text-xs text-center items-center font-semibold rounded-lg bg-blue-600 text-blue-100 border-blue-500 mr-1"
                >F2</kbd
              >
              buscar
            </small>
            <small class="text-xsm text-green-300">
              <kbd
                class="px-2 py-1 text-xs text-center items-center font-semibold rounded-lg bg-green-600 text-green-100 border-green-500 mr-1"
                >F8</kbd
              >
              crear
            </small>
          </span>
        </div>
        @if (newProducto) {
        <!-- Imagen del Producto -->
        <div
          class="w-full rounded-lg flex justify-center items-center flex-col gap-3"
        >
          <img
            loading="lazy"
            id="imgProductoHere"
            [src]="getUrlImageProducto(newProducto)"
            onerror="this.error = null; this.src = 'https://via.placeholder.com/500'"
            alt="Producto"
            class="rounded-lg w-full object-contain h-52"
          />
          <button
            (click)="opActualizarImagen.toggle($event)"
            class="flex justify-center gap-3 border w-full py-2 px-2 rounded-lg hover:bg-white hover:text-appPrimary-700 transition-all duration-300 ease-in-out focus:outline-none"
          >
            Actualizar Imagen
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-cloud-upload"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"
              />
              <path d="M9 15l3 -3l3 3" />
              <path d="M12 12l0 9" />
            </svg>
          </button>

          <button
            (click)="updateProducto()"
            class="flex justify-center gap-3 border w-full py-2 px-2 rounded-lg hover:bg-green-600 hover:text-white transition-all duration-300 ease-in-out focus:outline-none"
          >
            Guardar
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-device-floppy"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"
              />
              <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M14 4l0 4l-6 0l0 -4" />
            </svg>
          </button>
        </div>
        }
      </div>
    </section>
    <section class="w-full col-start-4 col-end-13 flex flex-col gap-3">
      <header class="text-lg text-appPrimary-200">
        Información del Producto
      </header>
      @if (!newProducto) {
      <h3 class="text-red-300">
        No se ha seleccionado un producto, por favor ingresa un código de
        producto
      </h3>
      } @else {
      <main class="w-full grid box-content grid-cols-2 p-2 gap-3">
        <fieldset class="flex flex-col gap-2">
          <legend>Datos básicos</legend>
          <div class="flex flex-col w-full mt-1 gap-2">
            <!-- ! Descripción -->
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Descripción
              </label>
              <textarea
                type="text"
                id="input-group-1"
                [(ngModel)]="newProducto.descripcion"
                class="w-full resize-none h-20 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out"
                placeholder="Sin descripción"
              ></textarea>
            </span>
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Familia <span class="text-red-300">* No modificable</span>
              </label>
              <input
                type="text"
                id="input-group-1"
                [disabled]="true"
                [value]="
                  newProducto.subclase.categoria.familia.codigoFamilia +
                  ' - ' +
                  newProducto.subclase.categoria.familia.descripcion
                "
                class="bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
                placeholder="Sin subclase"
              />
            </span>
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Categoría <span class="text-red-300">* No modificable</span>
              </label>
              <input
                type="text"
                id="input-group-1"
                [disabled]="true"
                [value]="
                  newProducto.subclase.categoria.codigoCategoria +
                  ' - ' +
                  newProducto.subclase.categoria.descripcion
                "
                class="bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
                placeholder="Sin subclase"
              />
            </span>
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Subclase <span class="text-red-300">* No modificable</span>
              </label>
              <input
                type="text"
                id="input-group-1"
                [disabled]="true"
                [value]="
                  newProducto.subclase.codigoSubclase +
                  ' - ' +
                  newProducto.subclase.descripcion
                "
                class="bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
                placeholder="Sin subclase"
              />
            </span>
            <span class="w-full">
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-appPrimary-200"
              >
                Marca
              </label>
              <p-dropdown
                [options]="marcas"
                [(ngModel)]="newProducto.marca"
                placeholder="Seleccionar marca"
                emptyMessage="No hay marcas disponibles"
                appendTo="body"
                [filter]="true"
                styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
                optionLabel="descripcion"
              ></p-dropdown>
            </span>
            <span class="w-full flex mt-2 gap-3">
              <button
                (click)="handleClickInhabilitado()"
                class="flex justify-center gap-3 border w-full py-2 px-2 rounded-lg {{
                  newProducto.inhabilitado
                    ? 'hover:bg-green-600'
                    : 'hover:bg-red-600'
                }} text-white transition-all duration-300 ease-in-out focus:outline-none"
              >
                {{ newProducto.inhabilitado ? "Habilitar" : "Inhabilitar" }}
                @if (!newProducto.inhabilitado) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-ban"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                  <path d="M5.7 5.7l12.6 12.6" />
                </svg>
                } @else {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-gumroad"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M21 12a9 9 0 1 1 -18 0a9 9 0 0 1 18 0z" />
                  <path d="M13.5 13h2.5v3" />
                  <path
                    d="M15.024 9.382a4 4 0 1 0 -3.024 6.618c1.862 0 2.554 -1.278 3 -3"
                  />
                </svg>
                }
              </button>
              <button
                (click)="handleClickOferta()"
                class="flex justify-center gap-3 border w-full py-2 px-2 rounded-lg {{
                  newProducto.oferta
                    ? 'hover:bg-blue-700'
                    : 'hover:bg-yellow-700'
                }}  text-white transition-all duration-300 ease-in-out focus:outline-none"
              >
                {{
                  !newProducto.oferta ? "Colocar en oferta" : "Quitar de oferta"
                }}
                @if (!newProducto.oferta) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-bolt"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
                </svg>
                } @else {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-bolt-off"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M3 3l18 18" />
                  <path
                    d="M15.212 15.21l-4.212 5.79v-7h-6l3.79 -5.21m1.685 -2.32l2.525 -3.47v6m1 1h5l-2.104 2.893"
                  />
                </svg>
                }
              </button>
            </span>
            <span class="w-full">
              <small>
                @if (newProducto.inhabilitado) {
                <span class="text-red-500">
                  Este producto está inhabilitado, no se mostrará en el catálogo
                </span>
                } @else {
                <span class="text-green-500">
                  Este producto está habilitado, se mostrará en el catálogo
                </span>
                }
                <br />
                @if (newProducto.oferta) {
                <span class="text-yellow-500">
                  Este producto está en oferta
                </span>
                } @else {
                <span class="text-gray-500">
                  Este producto no está en oferta
                </span>
                }
              </small>
            </span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Precios e Inventario</legend>
          <section class="flex flex-col gap-3 mt-1">
            <span class="w-full flex justify-between items-center">
              <span class="block mb-2 text-sm font-medium text-appPrimary-200">
                Precios por Unidad
              </span>
              <button
                (click)="opNuevoPrecio.toggle($event)"
                class="bg-appPrimary-400 p-1 rounded-xl"
                pTooltip="Agregar nuevo precio"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-basket-dollar"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M17 10l-2 -6" />
                  <path d="M7 10l2 -6" />
                  <path
                    d="M13 20h-5.756a3 3 0 0 1 -2.965 -2.544l-1.255 -7.152a2 2 0 0 1 1.977 -2.304h13.999a2 2 0 0 1 1.977 2.304"
                  />
                  <path d="M10 14a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path
                    d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"
                  />
                  <path d="M19 21v1m0 -8v1" />
                </svg>
              </button>
            </span>
            <!-- ! Tabla de Precios -->
            <span>
              <table class="w-full text-sm bg-appPrimary-700 rounded-2xl">
                <thead>
                  <tr class="*:px-6 *:py-3 rounded-t-2xl">
                    <th class="font-bold text-left">Tipo</th>
                    <th class="font-bold text-left">Precio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (precio of newProducto.precios; track $index) {
                  <tr class="*:px-6 *:py-3">
                    <td>{{ precio.tipoUnidad.descripcion }}</td>
                    <td>
                      <div class="relative w-full">
                        <div
                          class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-5 text-appPrimary-200"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"
                            />
                            <path d="M12 3v3m0 12v3" />
                          </svg>
                        </div>
                        <input
                          type="number"
                          [step]="
                            precio.tipoUnidad.permiteDecimales ? '0.1' : '1'
                          "
                          [(ngModel)]="precio.precio"
                          class="bg-appPrimary-80 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg block w-full ps-10 p-2.5 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out"
                          placeholder="0"
                        />
                      </div>
                    </td>
                    <td>
                      <span class="flex gap-2 items-center justify-center">
                        <button
                          class="bg-appPrimary-400 p-1 rounded-xl"
                          pTooltip="Guardar"
                          tooltipPosition="bottom"
                          (click)="
                            setPrecioProducto(precio.tipoUnidad, precio.precio)
                          "
                          tooltipStyleClass="*:bg-appPrimary-500 *:text-appPrimary-100"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-device-floppy"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"
                            />
                            <path
                              d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"
                            />
                            <path d="M14 4l0 4l-6 0l0 -4" />
                          </svg>
                        </button>
                        <button
                          class="bg-red-600 p-1 rounded-xl"
                          (click)="deletePrecio(precio.id)"
                          pTooltip="Eliminar"
                          tooltipPosition="top"
                          tooltipStyleClass="*:bg-red-900 *:text-appPrimary-100"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-http-delete"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                              d="M3 8v8h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-2z"
                            />
                            <path d="M14 8h-4v8h4" />
                            <path d="M10 12h2.5" />
                            <path d="M17 8v8h4" />
                          </svg>
                        </button>
                      </span>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </span>
          </section>
          <section class="flex flex-col gap-3 mt-3">
            <span
              class="w-full block mb-0 text-sm font-medium text-appPrimary-200"
            >
              Inventario por tienda
            </span>

            <!-- ! Tabla de Inventario -->
            <span>
              <table class="w-full text-sm bg-appPrimary-700 rounded-2xl">
                <thead>
                  <tr class="*:px-6 *:py-3 rounded-t-2xl">
                    <th class="font-bold text-left">Tienda</th>
                    <th class="font-bold text-center">Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  @for (inv of newProducto.inventario; track $index) {
                  <tr class="*:px-6 *:py-3">
                    <td>{{ inv.tienda.descripcion }}</td>
                    <td class="text-center">
                      <span
                        class="font-bold
                        {{
                          inv.cantidad < 10
                            ? 'text-red-700'
                            : inv.cantidad < 50
                            ? 'text-yellow-800'
                            : 'text-blue-800'
                        }}"
                      >
                        {{ inv.cantidad }}
                      </span>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </span>
          </section>
        </fieldset>
      </main>
      }
    </section>
  </div>
</main>

<p-overlayPanel #opNuevoPrecio>
  <ng-template pTemplate="content">
    <main class="flex flex-col">
      <small> Seleccione el tipo de unidad</small>
      <div class="flex flex-col gap-3">
        <p-dropdown
          [options]="tipoUnidades"
          [(ngModel)]="nuevoPrecio.tipoUnidad"
          placeholder="Seleccionar"
          emptyMessage="No hay tipos de unidad disponibles"
          appendTo="body"
          styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
          optionLabel="descripcion"
        ></p-dropdown>
        <div class="relative w-full">
          <div
            class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-5 text-appPrimary-200"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"
              />
              <path d="M12 3v3m0 12v3" />
            </svg>
          </div>
          <input
            type="number"
            [step]="nuevoPrecio.tipoUnidad?.permiteDecimales ? '0.1' : '1'"
            [(ngModel)]="nuevoPrecio.precio"
            class="bg-appPrimary-80 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg block w-full ps-10 p-2.5 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out"
            placeholder="0"
          />
        </div>

        <button
          (click)="nuevoPrecioProducto()"
          class="bg-appPrimary-400 p-1 rounded-xl flex gap-3 justify-center"
        >
          Agregar
        </button>
      </div>
    </main>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #opActualizarImagen>
  <ng-template pTemplate="content">
    <main class="flex flex-col gap-3">
      <div class="flex flex-col items-center justify-center w-full gap-3">
        @if (fileUpload.files?.[0]) { Archivo seleccionado:
        {{ getFirstNameOfFile(fileUpload.files) }}
        }
        <label
          for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-36 border-2 border-dashed rounded-lg cursor-pointer bg-gray-700 border-gray-600 hover:border-gray-500 hover:bg-gray-600"
        >
          <div class="flex flex-col items-center justify-center pt-5 pb-6 px-3">
            <svg
              class="w-8 h-8 mb-4 text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>
            <p class="mb-2 text-sm text-gray-400">
              <span class="font-semibold">Clic para subir</span>
              o arrastra y suelta una imagen
            </p>
            <p class="text-xs text-gray-400">JPEG, JPG, PNG (MAX. 800x400px)</p>
          </div>
          <input id="dropzone-file" #fileUpload type="file" class="hidden" />
        </label>
      </div>
      @if (fileUpload.files?.[0]) {
      <button
        (click)="updateImageProducto(fileUpload.files?.[0])"
        class="bg-appPrimary-400 p-1 rounded-xl flex gap-3 justify-center"
      >
        Subir
      </button>
      }
    </main>
  </ng-template>
</p-overlayPanel>

<p-dialog [(visible)]="visibleModalBuscarProducto" [modal]="true">
  <ng-template pTemplate="headless">
    <main class="bg-appPrimary-900 p-3 rounded-lg">
      <header class="flex justify-between items-center gap-3">
        <h1 class="text-lg font-bold text-appPrimary-200">Buscar</h1>
        <button
          (click)="toggleModalBuscarProducto()"
          class="rounded-full border p-1 hover:bg-red-500 hover:border-red-200 transition-all duration-300 ease-in-out focus:outline-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 icon icon-tabler icon-tabler-x"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </button>
      </header>
      <section class="mt-3 flex gap-4">
        <!-- Familia -->
        <span>
          <label for="dropdown-familia" class="text-xs"> Familia </label>
          <p-dropdown
            id="dropdown-familia"
            [options]="familias"
            [(ngModel)]="searchOrNewProductProps.familia"
            (ngModelChange)="resetSearchProps()"
            placeholder="Seleccionar"
            emptyMessage="No hay familias disponibles"
            appendTo="body"
            styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
            optionLabel="descripcion"
          ></p-dropdown>
        </span>
        <!-- Categoría -->
        @if (searchOrNewProductProps.familia) {
        <span>
          <label for="dropdown-familia" class="text-xs"> Categoría </label>
          <p-dropdown
            id="dropdown-familia"
            [options]="getCategoriasByFamilia()"
            [(ngModel)]="searchOrNewProductProps.categoria"
            (ngModelChange)="resetSearchProps()"
            placeholder="Seleccionar"
            emptyMessage="No hay categorías disponibles"
            appendTo="body"
            styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
            optionLabel="descripcion"
          ></p-dropdown>
        </span>
        }
        <!-- Subclase -->
        @if (searchOrNewProductProps.categoria) {
        <span>
          <label for="dropdown-familia" class="text-xs"> SubClase </label>
          <p-dropdown
            id="dropdown-familia"
            [options]="getSubclasesByCategoria()"
            [(ngModel)]="searchOrNewProductProps.subclase"
            (ngModelChange)="resetSearchProps()"
            placeholder="Seleccionar"
            emptyMessage="No hay subclases disponibles"
            appendTo="body"
            styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
            optionLabel="descripcion"
          ></p-dropdown>
        </span>
        }
      </section>
      @if (searchOrNewProductProps.subclase) {
      <section class="mt-3">
        <h5 class="text-appPrimary-200">Resultados de la búsqueda</h5>

        <table class="w-full text-sm bg-appPrimary-700 rounded-2xl">
          <thead>
            <tr class="*:px-6 *:py-3 rounded-t-2xl">
              <th class="font-bold text-left">Código de Producto</th>
              <th class="font-bold text-left">Descripción</th>
              <th class="font-bold text-left">Estado</th>
              <th class="font-bold text-left">¿Oferta?</th>
            </tr>
          </thead>
          <tbody>
            @for (producto of getProductosBySubClase(); track $index) {
            <tr
              class="*:px-6 *:py-3 hover:bg-appPrimary-400 transition-all duration-300 ease-in-out cursor-pointer"
              (dblclick)="handleClickProductoInSearch(producto)"
            >
              <td>{{ producto.codigoProducto }}</td>
              <td>{{ producto.descripcion }}</td>
              <td>{{ producto.inhabilitado ? "Inhabilitado" : "Activo" }}</td>
              <td>{{ producto.oferta ? "En oferta" : "No" }}</td>
            </tr>
            } @empty {
            <tr class="*:px-6 *:py-3">
              <td colspan="4" class="text-red-200">
                No se encontraron productos
              </td>
            </tr>
            }
          </tbody>
        </table>
      </section>
      }
    </main>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="visibleModalNuevoProducto" [modal]="true">
  <ng-template pTemplate="headless">
    <main class="bg-appPrimary-900 p-3 rounded-lg">
      <header class="flex justify-between items-center gap-3">
        <h1 class="text-lg font-bold text-appPrimary-200">Crear</h1>
        <button
          (click)="toggleModalCrearProducto()"
          class="rounded-full border p-1 hover:bg-red-500 hover:border-red-200 transition-all duration-300 ease-in-out focus:outline-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 icon icon-tabler icon-tabler-x"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </button>
      </header>
      <section class="mt-3 flex gap-4">
        <!-- Familia -->
        <span>
          <label for="dropdown-familia" class="text-xs"> Familia </label>
          <p-dropdown
            id="dropdown-familia"
            [options]="familias"
            [(ngModel)]="searchOrNewProductProps.familia"
            (ngModelChange)="resetSearchProps()"
            placeholder="Seleccionar"
            emptyMessage="No hay familias disponibles"
            appendTo="body"
            styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
            optionLabel="descripcion"
          ></p-dropdown>
        </span>
        <!-- Categoría -->
        @if (searchOrNewProductProps.familia) {
        <span>
          <label for="dropdown-familia" class="text-xs"> Categoría </label>
          <p-dropdown
            id="dropdown-familia"
            [options]="getCategoriasByFamilia()"
            [(ngModel)]="searchOrNewProductProps.categoria"
            (ngModelChange)="resetSearchProps()"
            placeholder="Seleccionar"
            emptyMessage="No hay categorías disponibles"
            appendTo="body"
            styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
            optionLabel="descripcion"
          ></p-dropdown>
        </span>
        }
        <!-- Subclase -->
        @if (searchOrNewProductProps.categoria) {
        <span>
          <label for="dropdown-familia" class="text-xs"> SubClase </label>
          <p-dropdown
            id="dropdown-familia"
            [options]="getSubclasesByCategoria()"
            [(ngModel)]="searchOrNewProductProps.subclase"
            (ngModelChange)="resetSearchProps()"
            placeholder="Seleccionar"
            emptyMessage="No hay subclases disponibles"
            appendTo="body"
            styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
            optionLabel="descripcion"
          ></p-dropdown>
        </span>
        }
      </section>
      @if (searchOrNewProductProps.subclase) {
      <section class="mt-3">
        <h5 class="text-appPrimary-200">Datos básicos</h5>
        <span class="w-full">
          <label
            for="input-group-1"
            class="block mb-2 text-sm font-medium text-appPrimary-200"
          >
            Descripción
          </label>
          <textarea
            type="text"
            id="input-group-1"
            [(ngModel)]="crearProductoProps.descripcion"
            class="w-full resize-none h-20 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out"
            placeholder="Sin descripción"
          ></textarea>
        </span>
        <span class="w-full">
          <label
            for="input-group-1"
            class="block mb-2 text-sm font-medium text-appPrimary-200"
          >
            Marca
          </label>
          <p-dropdown
            [options]="marcas"
            [(ngModel)]="crearProductoProps.marca"
            placeholder="Seleccionar marca"
            emptyMessage="No hay marcas disponibles"
            appendTo="body"
            [filter]="true"
            styleClass="p-0 *:p-0 bg-appPrimary-800 border border-appPrimary-300 text-appPrimary-100 text-sm rounded-lg p-2 outline-none focus:ring-2 focus:ring-appPrimary-400 transition-all duration-200 ease-in-out w-full"
            optionLabel="descripcion"
          ></p-dropdown>
        </span>
      </section>
      <section class="mt-3">
        <button
          (click)="crearProducto()"
          class="flex justify-center gap-3 border w-full py-2 px-2 rounded-lg hover:bg-green-600 hover:text-white transition-all duration-300 ease-in-out focus:outline-none"
        >
          Crear
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-device-floppy"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"
            />
            <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M14 4l0 4l-6 0l0 -4" />
          </svg>
        </button>
      </section>
      }
    </main>
  </ng-template>
</p-dialog>
