<app-header colorClass="blue"> Recursos Humanos </app-header>
<main class="p-4">
  <div class="grid gap-3">
    <div
      class="text-center p-3 border-round-sm  font-bold col-start-1 col-end-3"
    >
    <div class="flex items-center justify-center">
      <img src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" class="object-contain h-48 w-96">
    </div>
    <label class="block">
      <span class="block text-sm font-medium text-white">Número de Cuenta</span>
      <input class="border-slate-200 text-white w-1/3" />
    </label>
    </div>
    <div
      class="text-center p-3 border-round-sm bg-appPrimary-300 font-bold col-start-3 col-end-12"
    >
      auto
    </div>
  </div>
</main>
