<app-header colorClass="teal"> Compras </app-header>
<main class="p-5">
  <header>
    <h1 class="text-2xl">Intereses</h1>
  </header>
  <body class="h-full justify-center items-center">
    <div class="p-3">
      <div class="flex justify-end gap-3">
        <button type="button" class="focus:outline-none text-white bg-appPrimary-700 hover:bg-appPrimary-600 focus:ring-4 focus:ring-appPrimary-200 font-medium rounded-lg text-sm px-3 py-1.5 transition-all duration-300 ease-in-out hover:shadow-lg">
            Ingresar
        </button>
        <button type="button" class="focus:outline-none text-white bg-appPrimary-700 hover:bg-appPrimary-600 focus:ring-4 focus:ring-appPrimary-200 font-medium rounded-lg text-sm px-3 py-1.5 transition-all duration-300 ease-in-out hover:shadow-lg">
            Procesar
        </button>
    </div>
</div>
    <div class="p-3">
      <table class="w-full gap-3 text-sm text-left rtl:text-right text-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-white ">
          <tr class="text-base	">
            <th scope="col" class="px-6 py-3">Producto</th>
            <th scope="col" class="px-6 py-3">Marca</th>
            <th scope="col" class="px-6 py-3">Sucursal</th>
            <th scope="col" class="px-6 py-3">Unidad</th>
            <th scope="col" class="px-6 py-3">Cantidad</th>
            <th scope="col" class="px-6 py-3">Estado</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody class="text-base	">
          <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium whitespace-nowrap"
            >
              Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">Silver</td>
            <td class="px-6 py-4">Laptop</td>
            <td class="px-6 py-4">Yes</td>
            <td class="px-6 py-4">Yes</td>
            <td class="px-6 py-4">3.0 lb.</td>
            <td class="flex items-center px-6 py-4">
              <div class="flex items-center">
                <input
                  id="checkbox-table-search-1"
                  type="checkbox"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
                <label for="checkbox-table-search-1" class="sr-only"
                  >checkbox</label
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <table class="border-separate border border-slate-500 w-full">
        <thead>
          <tr>
            <th class="border border-slate-600">Producto</th>
            <th class="border border-slate-600">Marca</th>
            <th class="border border-slate-600">Sucursal</th>
            <th class="border border-slate-600">Unidad</th>
            <th class="border border-slate-600">Cantidad</th>
            <th class="border border-slate-600">Estado</th>
            <th class="border border-slate-600"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-slate-700">Indiana</td>
            <td class="border border-slate-700">Indianapolis</td>
            <td class="border border-slate-700">Indianapolis</td>
            <td class="border border-slate-700">Indianapolis</td>
            <td class="border border-slate-700">Indianapolis</td>
            <td class="border border-slate-700">Indianapolis</td>
            <td class="border border-slate-700">
              <button
                type="button"
                class="focus:outline-none text-white bg-appPrimary-700 hover:bg-appPrimary-900 focus:ring-4 focus:ring-appPrimary-200 font-medium rounded-lg text-sm px-5 py-2.5 w-full transition-all duration-300 ease-in-out hover:shadow-lg"
              >
                Ingresar
              </button>
            </td>
          </tr>
          <tr>
            <td class="border border-slate-700">Ohio</td>
            <td class="border border-slate-700">Columbus</td>
            <td class="border border-slate-700">Columbus</td>
            <td class="border border-slate-700">Columbus</td>
            <td class="border border-slate-700">Columbus</td>
            <td class="border border-slate-700">Columbus</td>
          </tr>
          <tr>
            <td class="border border-slate-700">Michigan</td>
            <td class="border border-slate-700">Detroit</td>
            <td class="border border-slate-700">Columbus</td>
            <td class="border border-slate-700">Columbus</td>
            <td class="border border-slate-700">Columbus</td>
            <td class="border border-slate-700">Columbus</td>
          </tr>
          <tr>
            <td class="border border-slate-700">Michigan</td>
            <td class="border border-slate-700">Detroit</td>
            <td class="border border-slate-700">Michigan</td>
            <td class="border border-slate-700">Detroit</td>
            <td class="border border-slate-700">Michigan</td>
            <td class="border border-slate-700">Detroit</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </body>
</main>
